<!doctype html>
<html>
	<head>
		<title>El Camino del Inca</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body { padding-top:80px;background-color:#D9D9D9 }
			#instructions {display:none}
			#instructions #information {
				display: inline-block;
				width: 30%;
				border-right: 3px solid #eee;
				vertical-align: top;
			}
			#instructions #information img {width:200px;}
			#instructions #code {
				display: inline-block;
				width: 65%;
				vertical-align: top;
			}
			#instructions #code h1{ display:block;text-align:center;font-size:10em;margin:50px 0;color:#A4C639; }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1><span class="fa fa-android"></span> El Camino del Inca</h1>
			</div>
			<div class="text-center" id="playnow-container">
				<a class="btn btn-primary btn-lg" id="playnow"><span class="fa fa-gamepad"></span> Jugar Ahora</a>
			</div>
			<div class="text-center" id="instructions">
				<div id="information">
					<h2>1 - Descarga la app y reg&iacute;strate:</h2>
					<img src="./imga/generate.png">
				</div>
				<div id="code">
					<h2>2 - Ingresa el siguiente código en la aplicaci&oacute;n:</h2>
					<h1></h1>
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="./js/jquery-1.11.1.min.js"></script>
		<script src="./js/functions.js"></script>
	</body>
</html>