<html>
	<head>
		<title>El Camino del Inca | Juego</title>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html;">
		<meta name="author" content="David Barrera, Denny Schuldt">
		<meta name="description" content="A Interactive Multimedia Applications project">
		<meta name="Keywords" content="HTML5, CSS3, Javascript, Jquery, IMA, ESPOL, FIEC"/>
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--<section>
			<article>
				<span style="font-size:50px;">La Conquista de los Paltas</span>
				<p style="font-style:italic;">En 1450 los incas emprenden su campaña para la conquista del norte andino, los incas luego de sucesivas victorias se interesaron por conquistar la provincia de cañari , en el camino sometieron a los Paltas,  eran indios muy bravos y feroces que cultivaban en su territorio frutos muy apreciados que llevaban su nombre y se deformaban la cabeza</p>
				<p style="font-size:30px;">Activa para jugar<br><small style="font-size:20px;">(Mueve el switch de tu dispositivo)</small></p>
			</article>
		</section>-->
		<aside>
			<div><span id="allies">20 aliados</span></div>
			<div><span id="enemies">20 enemigos</span></div>
		</aside>
		<footer>
			<div id="live">60%</div>
		</footer>
		<script src="js/three.min.js"></script>
		<script src="js/csg.js"></script>
		<script src="js/threeCSG.js"></script>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/notify.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/PointerLockControls.js"></script>
		<script src="js/interfaz.js"></script>
		<script src="js/Raycaster.js"></script>
		<script src="js/Clock.js"></script>
		<script src="js/AmbienteMatico.js"></script>
		<script src="js/BlendCharacter.js"></script>
		<script src="js/Marine.js"></script>
		<script src="js/BodyMatico.js"></script>
		<script src="js/Weapon.js"></script>
		<script src="js/Actor.js"></script>
		<script src="js/Init.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/socketHandler.js"></script>
	</body>
</html>