<html>
	<head>
		<title>Nombre</title>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html;">
		<meta name="author" content="David Barrera, Denny Schuldt">
		<meta name="description" content="A Interactive Multimedia Applications project">
		<meta name="Keywords" content="HTML5, CSS3, Javascript, Jquery, IMA, ESPOL, FIEC"/>
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<script src="js/three.min.js"></script>
		<script src="js/csg.js"></script>
		<script src="js/threeCSG.js"></script>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/notify.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/PointerLockControls.js"></script>
		<script src="js/interfaz.js"></script>
		<script src="js/Raycaster.js"></script>
		<script src="js/Clock.js"></script>
		<script src="js/AmbienteMatico.js"></script>
		<script src="js/BlendCharacter.js"></script>
		<!--script src="js/jdataview.js"></script-->
		<!--script src="js/mm3d.js"></script-->
		<script src="js/Marine.js"></script>
		<script src="js/BodyMatico.js"></script>
		<script src="js/Weapon.js"></script>
		<script src="js/Actor.js"></script>
		<script>
			var scene     = new THREE.Scene();
			var weapon  = new Weapon(30,2,1);
			var camera   = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
			var renderer  = new THREE.WebGLRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.shadowMapEnabled = true;
			var clock = new THREE.Clock(true);
			var dt = clock.getDelta();
			var allies = [];
			var enemies = [];

			var blendMesh=null;
			var interface1 = new Interfaz (camera,scene);
			var ambiente  = new ambienteMatico(scene);	
				ambiente.addPlaca('img/map/dirt-512.jpg',40,10);
				ambiente.addPlaca('img/map/sand-512.jpg',7.7,10);
				ambiente.addPlaca('img/map/grass-512.jpg',12.3,10);
				ambiente.addPlaca('img/map/rock-512.jpg',16.9,10);
				ambiente.addPlaca('img/map/snow-512.jpg',10,5);
				ambiente.setDifuminado(0.1);
				ambiente.setHeightMap("img/map/heightmap.png");
				ambiente.setSkybox("dawn");
				ambiente.setMar("img/map/water512.jpg");
				ambiente.generate();	

			 var lanzaMatico;
			 var guerreroMatico;
			//var halberdMatico=new WeaponMatico("models/halberd.mm3d","img/textures/halberd.jpg");
			var halberdier=null;
			var body=null;
			var body2=null;

			var boxes=null;
			var mesh=null;
			var enemy,ally,weapon;
			var animation;
loadHalberdiers();

			var render = function () {
				requestAnimationFrame(render);				
				camera.fov = 75;
  				camera.updateProjectionMatrix();
				interface1.update();
				dt = clock.getDelta();
				if(interface1.enabled()){
					/*THREE.AnimationHandler.update(dt);
					if(halberdier.isReady()){
						halberdier.update(dt);
					}*/
					THREE.AnimationHandler.update(dt);
					for (var i=0; i<enemies.length; i++) { 
					 	enemies[i].animar(dt);
					 }
					 for (var i=0; i < allies.length; i++) { 
					 	allies[i].animar(dt);
					 }
				}
				renderer.render(scene, camera);
			};

			document.body.appendChild( renderer.domElement );
			interface1.setAmbiente(ambiente);
			setLight(scene);
			setSun(scene);
			setSpot(scene);			
			render();
/*
			function loadHalberdiers(){
				lanzaMatico=new WeaponMatico("models/m4.js",scene);
				guerreroMatico=new BodyMatico("models/marine_anims.js",scene,ambiente);
body=new BodyMatico("models/marine_anims.js",scene,ambiente);
body2=new BodyMatico("models/marine_anims.js",scene,ambiente);
				var worker = new Worker('js/worker.js');
				worker.postMessage("marco");//usar al worker
				worker.addEventListener('message', function(e) {
				  if(!(guerreroMatico.isReady()&&lanzaMatico.isReady())){
				  	//$.notify("marco");
				  	worker.postMessage("marco");
				  }else{
				  	var bod=guerreroMatico.generate();
				  	bod.addWeapon(lanzaMatico.generate());
				  	//body2.addWeapon(lanzaMatico.generate());
						worker.terminate();
						weapon=new Weapon(30,10,1);
						enemy=new Actor (bod,scene,ambiente,allies,enemies);
						enemies[enemies.length]=enemy;
						enemy.setPosition(60,-50,60);
						//enemy.setAzimut(Math.PI/2);
						//enemy.addArma(weapon,halberdMatico.generate());
					bod=guerreroMatico.generate();
				  	bod.addWeapon(lanzaMatico.generate());
				
						enemy.addPatrolPosition(new THREE.Vector3(250,0,250));
						enemy.addPatrolPosition(new THREE.Vector3(-250,0,250));
						enemy.addPatrolPosition(new THREE.Vector3(250,0,-250));
						ally=new Actor (bod,scene,ambiente,enemies,allies);
						allies[allies.length]=ally;
						ally.setPosition(-60,-50,60);
						//ally.addArma(weapon.clone(),halberdMatico.generate());
				  
				  		
				  }
				}, false);
			}*/
			
			function loadHalberdiers(){
				lanzaMatico=new WeaponMatico("models/m4.js",scene);
				//guerreroMatico=new BodyMatico("models/marine_anims.js",scene,ambiente);
body=new BodyMatico("models/marine_anims.js",scene,ambiente);
body2=new BodyMatico("models/marine_anims.js",scene,ambiente);
				var worker = new Worker('js/worker.js');
				worker.postMessage("marco");//usar al worker
				worker.addEventListener('message', function(e) {
				  if(!(body.isReady()&&body2.isReady()&&lanzaMatico.isReady())){
				  	//$.notify("marco");
				  	worker.postMessage("marco");
				  }else{
				  	//var bod=guerreroMatico.generate();
				  	body.setScale(0.15);
				  	body2.setScale(0.15);
				  	body.addWeapon(lanzaMatico.generate());
				  	body2.addWeapon(lanzaMatico.generate());
						worker.terminate();
						weapon=new Weapon(30,10,1);
						enemy=new Actor (body,scene,ambiente,allies,enemies);
						enemies[enemies.length]=enemy;
						enemy.setPosition(60,-50,60);
						//enemy.setAzimut(Math.PI/2);
						//enemy.addArma(weapon,halberdMatico.generate());
					//bod=guerreroMatico.generate();
				  	//bod.addWeapon(lanzaMatico.generate());
				
						enemy.addPatrolPosition(new THREE.Vector3(250,0,250));
						enemy.addPatrolPosition(new THREE.Vector3(-250,0,250));
						enemy.addPatrolPosition(new THREE.Vector3(250,0,-250));
						ally=new Actor (body2,scene,ambiente,enemies,allies);
						allies[allies.length]=ally;
						ally.setPosition(-60,-50,60);
						//ally.addArma(weapon.clone(),halberdMatico.generate());
				  
				  		
				  }
				}, false);
			}
			
			
		</script>
		<nav>
			<ul>
				<li><a href="#" id="username"></a></li>
				<li><a href="/logout">Salir</a></li>
			</ul>
		</nav>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/socketHandler.js"></script>
	</body>
</html>